Missing logic for macros

RFC 7208, Section 7 in general.