Implement mechanism 'exists' 

See RFC 7208, section 5.7